<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue ">
            <a href="#" class="brand-logo center">Chat</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down show-on-small">
                <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">
                        <i class="material-icons">
                            arrow_back
                        </i>
                    </a></li>
            </ul>
        </div>
    </nav>
</div>

<main class="container">

    <div class="row">
        <div class="col s12" *ngIf="pantalla=='mensajes'">
            <h4>Mensaje</h4>
            <ul class="collection">
                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                        <span class="new badge green">4</span>
                    </p>
                </li>

                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                </li>
                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">group</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                </li>
            </ul>
        </div>

        <div class="col s12 " *ngIf="pantalla=='mensaje'">
            <h4>Mensajes</h4>


            <div id="global" class="col s12">

                <div id="mensajes" class="row">

                    <p class="center">HOY</p>

                    <ng-container *ngFor="let m of mensajes">
                        <div class="col s12"></div>
                        <div class="col s12 m5" [ngClass]="{'offset-m7': m.estado=='E'}">
                            <div class="card-panel" [ngClass]="{'grey lighten-2': m.estado=='R', 'blue lighten-2': m.estado=='E'}">
                                <span class="white-text">
                                    {{m.mensaje}}
                                </span>
                                <span class="small white-text right">
                                    <i>
                                        {{m.fecha | date : 'dd/MM/yyyy hh:mm'}}
                                    </i>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                    <div id="fin"></div>





                </div>
            </div>

            <div class="col s12">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s11">
                                <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="mensaje"
                                    name="mensaje"></textarea>
                                <label for="textarea1">Mensaje</label>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large blue darken-2" (click)="enviar()" *ngIf="mensaje!=''"><i class="material-icons">send</i></a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        

        </div>

    </div>
</main>

<app-footer></app-footer>