<app-navbar></app-navbar>
<main class="container">
    <div class="row">
        <div class="col s12">
            <h3>Botones</h3>
            <p>
                Hay 3 tipos de botones principales descritos en diseño de materiales. El botón elevado es un botón
                estándar que significa acciones y busca dar profundidad a una página mayoritariamente plana. El botón de
                acción circular flotante está diseñado para funciones muy importantes.
            </p>
            <div class="divider"></div>
        </div>
        <div class="col s12">
            <h4>Boton plano con icono</h4>
            <a class="waves-effect waves-light btn red ml-2">button</a> &nbsp;
            <a class="waves-effect waves-light btn green ml-2"><i class="material-icons left">cloud</i>button</a> &nbsp;
            <a class="waves-effect waves-light btn blue ml-2"><i class="material-icons right">cloud</i>button</a>
        </div>
      
        <div class="col s12">
            <h4>Boton flotante pulse</h4>
            <a class="btn-floating btn-large waves-effect waves-light orange pulse"><i class="material-icons">add</i></a>
        </div>
   

        <div class="col s12">
            <h4>Boton pequeño</h4>
            <a class="waves-effect waves-light btn-small blue">Button</a> &nbsp;
            <a class="waves-effect waves-light btn-small blue"><i class="material-icons left">cloud</i>button</a> &nbsp;
            <a class="waves-effect waves-light btn-small blue"><i class="material-icons right">cloud</i>button</a>
        </div>
     

        <div class="col s12">
            <h4>Boton deshabilitado</h4>
            <a class="btn-large disabled">Button</a> &nbsp;
            <a class="btn disabled">Button</a>  &nbsp;
            <a class="btn-flat disabled">Button</a>  &nbsp;
            <a class="btn-floating disabled"><i class="material-icons">add</i></a>
        </div>
    </div>
</main>

<app-footer></app-footer>